
MindboxLibrary/.vs/MindboxLibrary/DesignTimeBuild/.dtbcache.v2
MindboxLibrary/.vs/MindboxLibrary/DesignTimeBuild/.dtbcache.v2
MindboxLibrary/.vs/MindboxLibrary/DesignTimeBuild/.dtbcache.v2
MindboxLibrary/.vs/MindboxLibrary/FileContentIndex/04cec5da-0d03-492b-a6a0-2c94cfde445f.vsidx
MindboxLibrary/.vs/MindboxLibrary/FileContentIndex/14676402-dd5b-4c65-a0d6-b179bea7c7f5.vsidx
MindboxLibrary/.vs/MindboxLibrary/FileContentIndex/2d88e229-bf47-49ca-b821-a2a8fc414f08.vsidx
*.vsidx
*.v2
*.manifest
MindboxLibrary/.vs/MindboxLibrary/v17/.suo
*.v2
Tests/obj/Debug/net7.0/Tests.pdb
Tests/obj/Debug/net7.0/Tests.csproj.AssemblyReference.cache
MindboxLibrary/.vs/MindboxLibrary/FileContentIndex/04cec5da-0d03-492b-a6a0-2c94cfde445f.vsidx
MindboxLibrary/.vs/MindboxLibrary/FileContentIndex/ee489546-e718-4d3d-ae33-d48ec56bb81c.vsidx
*.v2
*.vsidx
*.manifest
*.bin
*.dll
*.pdb
*.dll
*.pdb
*.cache
