
MindboxLibrary/.vs/MindboxLibrary/DesignTimeBuild/.dtbcache.v2
MindboxLibrary/.vs/MindboxLibrary/DesignTimeBuild/.dtbcache.v2
MindboxLibrary/.vs/MindboxLibrary/DesignTimeBuild/.dtbcache.v2
MindboxLibrary/.vs/MindboxLibrary/FileContentIndex/04cec5da-0d03-492b-a6a0-2c94cfde445f.vsidx
MindboxLibrary/.vs/MindboxLibrary/FileContentIndex/14676402-dd5b-4c65-a0d6-b179bea7c7f5.vsidx
MindboxLibrary/.vs/MindboxLibrary/FileContentIndex/2d88e229-bf47-49ca-b821-a2a8fc414f08.vsidx
*.vsidx
*.v2
*.manifest
MindboxLibrary/.vs/MindboxLibrary/v17/.suo
*.v2
Tests/obj/Debug/net7.0/Tests.pdb
Tests/obj/Debug/net7.0/Tests.csproj.AssemblyReference.cache
MindboxLibrary/.vs/MindboxLibrary/FileContentIndex/04cec5da-0d03-492b-a6a0-2c94cfde445f.vsidx
MindboxLibrary/.vs/MindboxLibrary/FileContentIndex/ee489546-e718-4d3d-ae33-d48ec56bb81c.vsidx
*.v2
*.vsidx
*.manifest
*.bin
*.dll
*.pdb
*.dll
*.pdb
*.cache
*.v2
*.v2
MindboxLibrary/.vs/MindboxLibrary/v17/.suo
*.bin
*.bin
*.cache
MindboxLibrary/.vs/MindboxLibrary/v17/.suo
*.json
MindboxLibrary/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
MindboxLibrary/obj/Release/net7.0/MindboxLibrary.AssemblyInfo.cs
MindboxLibrary/obj/Release/net7.0/MindboxLibrary.csproj.FileListAbsolute.txt
MindboxLibrary/obj/Release/net7.0/MindboxLibrary.GeneratedMSBuildEditorConfig.editorconfig
MindboxLibrary/obj/Release/net7.0/MindboxLibrary.GlobalUsings.g.cs
Tests/bin/Release/net7.0/CoverletSourceRootsMapping
Tests/bin/Release/net7.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
Tests/bin/Release/net7.0/testhost.exe
Tests/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Tests/obj/Release/net7.0/Tests.AssemblyInfo.cs
Tests/obj/Release/net7.0/Tests.csproj.CopyComplete
Tests/obj/Release/net7.0/Tests.csproj.FileListAbsolute.txt
Tests/obj/Release/net7.0/Tests.GeneratedMSBuildEditorConfig.editorconfig
Tests/obj/Release/net7.0/Tests.GlobalUsings.g.cs
MindboxLibrary/.vs/MindboxLibrary/v17/.suo
DbProject/bin/Release/DbProject.dacpac
DbProject/DbProject.sqlproj
DbProject/DbProject.sqlproj.user
DbProject/obj/Release/DbProject.sqlproj.FileListAbsolute.txt
DbProject/obj/Release/Model.xml
MindboxLibrary/.vs/MindboxLibrary/v17/.suo
